<%- include("includes/head.ejs"); %>

<body>
    <h1>Welcome to the Home Page 1+2 </h1>

    <h3><%= 1+2 %></h3>
    <h3><%= "nirmamali".toUpperCase() %></h3>
    <h3><%= ["hello","hi"][1] %></h3>

    <p>This is the home page content.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aperiam nemo aliquam, veritatis est maiores harum ad
        nihil architecto, eius repellendus odit alias dolore expedita voluptate possimus? Repudiandae laboriosam
        laudantium, at incidunt tenetur ea, explicabo unde, quis perspiciatis neque ipsum possimus in exercitationem
        quam mollitia nesciunt numquam expedita atque eos fuga voluptas voluptatem et. Sunt magni quasi reiciendis? Nemo
        dolor itaque fuga! Hic amet culpa sequi consequatur quae corrupti ex, iusto voluptates sit officia quisquam
        cumque architecto velit perspiciatis. Veritatis assumenda inventore corrupti in eius quo at ratione blanditiis
        itaque similique, incidunt libero? Dolore, impedit at? Corrupti repudiandae, nihil eligendi delectus nemo
        possimus. Laudantium beatae veniam, provident saepe nisi itaque doloremque expedita quas aspernatur non,
        incidunt eveniet eligendi! Natus numquam dolorum illum optio maxime inventore similique omnis? Exercitationem
        eum possimus sapiente? Optio quos impedit omnis quis maxime praesentium corporis non iste consequuntur dicta cum
        est incidunt, culpa labore hic, eius maiores. Nobis blanditiis neque eaque doloribus expedita voluptatibus
        ducimus ex dolores reprehenderit vero asperiores possimus provident alias, ea cupiditate quas dolore consectetur
        natus quis? Minima enim sed, quos iste hic dolor asperiores perspiciatis tempora deserunt non vero rem facilis
        officia laboriosam ex earum nostrum numquam sit inventore, error alias sequi eius. Recusandae facilis ducimus
        suscipit ad distinctio excepturi consequuntur sapiente. Alias commodi voluptate iste quisquam, neque in!
        Repellendus, in accusantium illo ipsam deserunt recusandae eligendi aperiam? Cum eius non minima? Error nihil
        sint aliquam asperiores enim debitis omnis amet, commodi dolorem, distinctio voluptas rem ea deserunt ex impedit
        fuga, accusantium reiciendis sit? Nam et dolor soluta nulla aliquid deserunt reiciendis magnam maiores, officia
        voluptatem dolores optio cum quo magni? Impedit, libero! Vitae ipsa facilis beatae est nostrum ex, asperiores
        vero hic, molestiae nulla qui quam? Dolorum aliquid eaque magni reprehenderit harum eius, numquam voluptas.
        Aliquam sed quia facilis porro, aperiam laboriosam maiores, non cum nihil nemo aut deserunt ducimus?</p>

    <button>Click me</button>

        <%- include("includes/footer.ejs"); %>

</body>

</html>